*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.buildpath
.classpath
.cproject
.externalToolBuilders/
.lein-failures
.loadpath
.metadata
.project
.settings/
/Programming-Clojure.iml
/build.clj
/hello.out
/snippet-db.lck
/snippet-db.log
/snippet-db.properties
/snippet-db.script
/tmp.clj
Leiningen.gitignore
bin/**
classes/*
lib/*
local.properties
target/
tmp/**
tmp/**/*
